.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files #
*.tmp
*.md5

# runtime files #
*.pid
*.log
*.log.*

.project
.idea
/bin
*.iml
.classpath
out/*
argfile*
src/test/resources/actual-output.raml
src/test/resources/actual-output-2.raml
